body {
    color: rgb(51, 51, 51);
    font-family: 'Lora', serif;
    font-size: 14pt; 
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    color: rgb(51, 51, 51);

}

.home.main {
    /*height: 90vh;*/
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 80vh;
    grid-gap: 2em;
}

div.main {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.title-block {
    font-size: 1.5em;   
}

.title {
    font-size: .7em;
}

div.menu {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin: 1rem;
    font-size: 1em;
    text-align: right;
}

div.topic_page div.menu { 
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

div.menu_item {
    /* text-align: center; */
    display: inline-block;
    margin-left: 4em;
}

div.menu_item a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

div.menu_item a:hover {
    text-decoration: underline;
}

div.home_body img {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
}

/* Portfolio Grid */

.page_subtitle {
    font-size: 2em;
    text-align: center;
    padding: 2em 0em;
}

.portfolio_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4.5em;
}

.portfolio_card {
    /* padding: 1em; */
    text-align: center;
    color: rgb(51, 51, 51);
}

.portfolio_card a, .portfolio_card .card_caption {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.portfolio_card a:hover {
    text-decoration: underline;
}

.portfolio_card.topic_text {
    line-height: 2em;
    font-size: 1em;
    text-align: left;
    border-top: 1px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(51, 51, 51);
    display: grid;
    align-items: center;
}

img.card_image {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
}

/** CSS Breakpoints **/

@media (max-width: 815px) {
    .portfolio_card.topic_text {
        border-top: none;
        border-bottom: none;

    }
    .portfolio_grid {
        grid-template-columns: 1fr;
    }
}