body {
    color: rgb(51, 51, 51);
    font-family: 'Lora', serif;
    font-size: 14pt; 
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    color: rgb(51, 51, 51);

}

.main {
    /*height: 90vh;*/
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 80vh;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
}

nav {
    font-size: .75em;
}

.title-block {
    font-size: 1.5em;   
}

nav.menu ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
    border-right: 1px solid black;
}

div.home_body img {
    max-width: 100%;
    max-height: 100%;
    /*object-fit: cover;*/
}